*{
    padding: 0;
    margin: 0;
    font-family: Raleway; sans-serif;
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}


header.haut{
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.logo{
    position:absolute;
    left: 0px;
    top : 10px;
}

.headerNav{
    font-size: medium;
    display: flex;
    align-items: center;
}

.headernavlink{
color:black;
font-weight: 500;
padding: 30px;
text-decoration: none;
display: flex;
flex-wrap: wrap;
}

.headernavlink:hover{
color: #0065FC;
border-top: 3px solid;
}


.headernavinscription{
    color: #0065FC;
    padding: 30px;
    text-decoration: none;
    font-weight: 600;
}

.inscription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.titreh1{
    font-size: 30px;
    margin-bottom: 10px;
}

.recherche{
    margin: 20px;
    display: flex;
    margin-left: 0;
    padding-left: 0;
}

.mapmarkericone{
    background-color: #F2F2F2;
    padding: 15px 21px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.barrederecherche{
    width: 234px;
    font-weight: 600;
    font-size: 16px;
    border-right: none;
    border-left: none;
    border-top : 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    padding-left: 20px;
}

input::placeholder{
    color:black;
}

.boutonrecherche{
    width: 134px;
    color: white;
    background-color: #0065FC;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media screen and (min-width: 576px)
    {
        .loupe{
            display: none !important;
        }
    }



.filtres{
    display: flex;
    margin: 20px 0 30px 0;
    align-items: center;
    flex-wrap: wrap;
}

.h2filtres{
margin-right: 32px;
margin-left: 0px;
}


.filtrebloc{
    border: 2px #F2F2F2 solid;
    border-radius: 30px;
    margin-right: 24px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}


.filtrerond{
    background-color: #deebff;
    color: #0065FC;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: -2px;
    margin-bottom: -2px;
    margin-top: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.filtrenom{
    font-weight: bold;
    margin: 0 1rem;
}


.info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.infoicone{
    color: #0065FC;
    width: 2em;
    height: 2em;
    border: 1px #F2F2F2 solid;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}


.home{
    background-color: #F2F2F2;
    margin-top: 20px;
    padding: 40px;
    max-width: 800px;
    border-radius: 20px;
}

.titrehebergement{
    padding-bottom: 10px;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cartelogement{
    background-color: white;
    width: 246px;
    border-radius: 20px;
    padding: 5px;
    margin: 15px 0 15px 0;
}


.cartelogement:hover{
    transform: scale(1.02);
}

.imagefigure{
    margin: 0px;
}

.logementimage{
    height: 114px;
    width: 100%;
    border-radius: 1em 1em 0 0;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: inherit;
}

h3{
    margin: 2px 0 0 11px;
}

.apartirde{
    margin: 2px 0 6px 11px;
}

.etoiles{
    margin: 2px 0 6px 11px;
    color: #0065FC;
}

.grise
{color: #F2F2F2;
}

.afficherplus{
    font-weight: bold;
    margin-top: 20px;
}


.hebergement{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}


.populaire{
    background-color: #F2F2F2;
    margin-top: 10px;
    border-radius: 20px;
    width: 340px;
    padding: 40px;
}

.h2populaires{
    display: flex;
    justify-content: space-between;
}

.cartelogementpopulaires{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
    height: 134px;
}

.cartelogementpopulaires:hover{
    transform: scale(1.02);
}

.logementimagepopulaires{
    height: 134px;
    width: 127px;
    border-radius: 1em 0 0 1em;
    object-fit: cover;
}

.lienclicpopulaires{
    display: flex;
}

.etoilespopulaires{
    margin: 45px 0 0px 11px;
    color: #0065FC;
}

.flexpopulaires{
    display: flex;
    flex-direction: column;
}

.activité{
    margin-top: 65px;
}

.flexactivités{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.carteactivités{
    width: 302px;
    height: 445px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 0 20px lightgrey;
}

.carteactivités:hover{
    transform: scale(1.02);
}

.carteactivitésimage{
    width: 302px;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.titreactivités{
    margin: 15px 0 15px 20px;
}

.carteactivités2{
    width: 302px;
    height: 235px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 0 20px lightgrey;
}

.carteactivités2:hover{
    transform: scale(1.02);
}

.carteactivitésimage2{
    width: 302px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.carteactivités3{
    width: 302px;
    height: 164px;
    border-radius: 20px;
    margin-top: 45px;
    box-shadow: 0 0 20px lightgrey;
}

.carteactivités3:hover{
    transform: scale(1.02);
}

.carteactivitésimage3{
    width: 302px;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.carteactivités4{
    width: 302px;
    height: 194px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 0 20px lightgrey;
}

.carteactivités4:hover{
    transform: scale(1.02);
}

.carteactivitésimage4{
    width: 302px;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.carteactivités5{
    width: 302px;
    height: 210px;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0 0 20px lightgrey;
}

.carteactivités5:hover{
    transform: scale(1.02);
}

.carteactivitésimage5{
    width: 302px;
    height: 153px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.footer{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 50px;
    background-color: #F2F2F2;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.colonne1{
    display: flex;
    flex-direction: column;
    padding: 30px 200px 30px 30px;

}

.colonne2{
    display: flex;
    flex-direction: column;
    padding: 30px 200px 30px 30px;
}

.colonne3{
    display: flex;
    flex-direction: column;
    padding: 30px 200px 30px 30px;
}

.lien{
    margin: 6px 30px 6px 0;
}

.h3footer{
    margin: 10px 0 10px 0;
}


@media screen and (max-width: 575px)
{
    .headernavinscription{
        order: 1;
    }

    .headerNav{
        order: 2;
    }

    .wrapper{
        padding: 0px;
    }

    .logo{
        top: 20px;
        left: 20px;
    }

    .headernavinscription{
        padding: 35px 30px 25px 30px;
    }

    .headernavlink{
        padding: 20px;
        border-bottom: 3px solid #F2F2F2;
        width: 148px;
        justify-content: center;
    }

    .headernavlink:hover{
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid;
        }

    .sectionrecherche{
        padding: 20px;
    }

    .titreh1 {
        font-size: 23px;
    }   

    .recherche {
        margin: 20px 0 20px 0;
    }

    .rechercher{
        display: none;
    }

    .boutonrecherche {
        width: 60px;
    }

    .h2filtres {
        margin-right: 92px;
    }

    .filtrebloc{
        margin-right: 5px;
    }

    .info{
        font-size: 15px;
        align-items: initial;
        margin-bottom: 5px;
    }

    .infoo{
        font-size: 10px;
    }

    .infoicone{
        width: 2em;
        height: 1.5em;
    }

    .populaire{
        order: 1;
        border-radius: 0px;
        padding: 30px 20px 20px 20px;
    }

    .home{
        order: 2;
        background-color: white;
        padding: 20px;
    }
    .cartelogement{
        width: 100%;
        box-shadow: 0 0 20px lightgrey;
    }

    .activité{
        padding: 20px;
        margin-top: 10px;
    }

    .carteactivités{
        width: 100%;
        height: 190px;
    }
    .carteactivitésimage{
        width: 100%;
        height: 134px;
    }

    .carteactivités2{
        width: 100%;
        height: 190px;
    }
    .carteactivitésimage2{
        width: 100%;
        height: 134px;
    }

    .carteactivités3{
        width: 100%;
        height: 190px;
        margin-top: 30px;
    }
    .carteactivitésimage3{
        width: 100%;
        height: 134px;
    }

    .carteactivités4{
        width: 100%;
        height: 190px;
    }
    .carteactivitésimage4{
        width: 100%;
        height: 134px;
    }

    .carteactivités5{
        width: 100%;
        height: 190px;
        margin-top: 30px;
    }
    .carteactivitésimage5{
        width: 100%;
        height: 134px;
    }


    .footer{
        padding-left: 0;
        margin-top: 30px;
    }
    
    .colonne1{
        padding: 30px 0 20px 30px;
    }
    .colonne2{
        padding: 0 0 20px 30px;
    }    
    .colonne3{
        padding: 0 0 20px 30px;
    }    

}

@media screen and (min-width: 576px max-width: 768px)
{
    .wrapper{
        padding: 0px;
    }

    .logo{
        top: 20px;
        left: 30px;
        }

        .sectionrecherche{
            padding: 30px;
        }

        .titreh1{
            font-size: 32px;
        }

        .filtrebloc{
            margin-right: 30px;
        }

        .filtrerond{
            width: 55px;
            height: 55px;
        }

        .info{
            margin-bottom: 0;
        }

        .hebergement{
            margin: 0 30px 0 30px;
        }

        .cartelogement{
            width: 286px;
        }

        .populaire{
            margin-top: 20px;
            width: 100%;
        }

        .logementimagepopulaires{
            width: 210px;
        }

        .etoilespopulaires {
            margin: 65px 0 0px 11px;
        }

        .activité{
            margin: 65px 30px 0 30px;
        }


        .carteactivités{
            width: 332px;
        }

        .carteactivitésimage{
            width: 100%;
        }


        .carteactivités2{
            width: 332px;
        }

        .carteactivitésimage2{
            width: 100%;
        }


        .carteactivités3{
            width: 332px;
        }

        .carteactivitésimage3{
            width: 100%;
        }


        .carteactivités4{
            width: 332px;
        }

        .carteactivitésimage4{
            width: 100%;
        }


        .carteactivités5{
            width: 332px;
        }

        .carteactivitésimage5{
            width: 100%;
        }

        .footer{
            padding-left: 0;
        }

        .colonne1{
            padding: 30px 0 30px 30px;
        }

        .colonne2{
            padding: 30px 10px 30px 30px;
        }

        .colonne3{
            padding: 30px 0 30px 50px;
        }
}


